<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2:600italic,700,800' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <%= css :styles %>

    <!-- Vendors -->
    <%= js :vendors %>

    <!-- Vendors -->
    <%= js :helpers %>

    <!-- Backbone -->
    <%= js :backbone %>

    <!-- Marionette-Views -->
    <%= js :views %>

    <!-- Marionette-Routers -->
    <%= js :routers %>

    <!-- Marionette-Application -->
    <%= js :the_move_list %>

  </head>

  <body>
    <!-- background from http://subtlepatterns.com/ SUPER!-->
    <!-- Locals -->
    <div class="local-data"
        game-data-id="<%= game %>"
        character-data-id="<%= character %>">
    </div>

    <div class="title custom-button-red" style="font-size: medium; margin: 0px 80px" align="center">
      The Command List<br/>
      by Jesse and Ethan Jurman
    </div>
    <div align="center" id="game-selector"></div>
    <div align="center" id="character-selector"></div>
    <div align="center" id="characters"></div>

    <!-- scripts for page -->
    <!-- this one is used for proper table resizing -->
    <script type="text/javascript" charset="utf-8">
      $(function() {
        $(window).on('resize', function() {
          $(".character-table .move-name").css("font-size", 16)
          var maxHeight = 0;
          $(".character-table").each(function(){
            var height = $( this ).height();
            if (height > maxHeight) {
              maxHeight = height - 2;
            }
          });
          $(".character-table").each(function(){
            $( this ).height(Math.ceil(maxHeight) + 4);
          });
        });
        $(window).on('resize', function() {
          $(".move-name").each(function(){
            var size = $(this).parents(".character-table").width() + $(this).parents(".character-table").height();
            while (size == $(this).parents(".character-table").width() + $(this).parents(".character-table").height()){
              $(this).css("font-size",parseFloat($(this).css("font-size"))+3)
            }
            $(this).css("font-size",parseFloat($(this).css("font-size"))-3)
          });
        });
        $(window).trigger('resize');
      });
    </script>
  </body>
</html>
