<!DOCTYPE HTML>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!-- Vendors -->
    <%= js :vendors %>

    <!-- Vendors -->
    <%= js :helpers %>

    <!-- Backbone -->
    <%= js :backbone %>

    <!-- Marionette-Views -->
    <%= js :views %>

    <!-- Marionette-Application -->
    <%= js :the_move_list %>

  </head>

  <body>

    <!-- Locals -->
    <div class="local-data"
        game-data-id="<%= game %>"
        character-data-id="<%= character %>">
    </div>

    <div class="title">
      The Command List
      by Jesse and Ethan Jurman
    </div>
    <div id="game-selector"></div>
    <div id="character-selector"></div>
    <div id="characters"></div>
  </body>

</html>
