<!DOCTYPE HTML>
<html>

  <head>
    <!-- generated from realfavicongenerator.net -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- other head information -->
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700|Exo+2:600italic,700,800' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Styles -->
    <%= css :styles %>

    <!-- Vendors -->
    <%= js :vendors %>

    <!-- Vendors -->
    <%= js :helpers %>

    <!-- Backbone -->
    <%= js :backbone %>

    <!-- Marionette-Views -->
    <%= js :views %>

    <!-- Marionette-Routers -->
    <%= js :routers %>

    <!-- Marionette-Application -->
    <%= js :the_move_list %>

  </head>

  <body>
    <!-- background from http://subtlepatterns.com/ SUPER!-->
    <!-- Locals -->
    <div id="fixed_top">
      <div id="top_menu" class="title" style="font-size: medium; display: inherit;">
        <!-- <i class="fa fa-cog fa-2x selectable" id="settings" style="float: right;"></i>
        <i class="fa fa-file fa-2x selectable" id="open" style="float: right;"></i> -->
        <span class="main-title">The Command List</span><br/>
        <span style="font-size: 18px">by Ethan and Jesse Jurman (this site is a work in progress)</span>
        <div align="center" id="game-selector"></div>
        <div align="center" id="character-selector"></div>
        <div align="center" id="page-selector"></div>
      </div>
      <div class="selectable" align="center" onclick="toggleTitle()">
          <i class="fa fa-chevron-up toggle-title"></i>
          <i class="fa fa-chevron-down toggle-title" style="display:none;"></i>
          <img id="left" class="_flip" height="26px" src="/img/left.gif">
          <span id="direction_toggle"></span>
          <i class="fa fa-chevron-up toggle-title"></i>
          <i class="fa fa-chevron-down toggle-title" style="display:none;"></i>
          <div id="direction_toggle2"></div>
      </div>
    </div>

    <div class="local-data"
        game-data-id="<%= game %>"
        character-data-id="<%= character %>">
    </div>
    <div align="center" id="characters"></div>
    <!-- scripts for page -->
    <!-- this one is used for proper table resizing -->
    <script type="text/javascript" charset="utf-8">
      $(window).trigger('resize');
    </script>
  </body>
</html>
